.table-wrapper {
  display: inline-block;
  font-size: 1rem;
}

.t-wrapper h4 {
  text-align: center;
}

.t-main {
  width: auto;
  max-width: 100%; /*Evita desbordar horizontalmente*/
  table-layout: auto;
  border-collapse: collapse;
}

.t-main th,
.t-main td {
  padding: 4px;
  font-size: 1.2rem;
}

.t-main th:nth-child(-n + 2),
.t-main tbody td:nth-child(-n + 2) {
  text-align: left;
}

.t-main th:nth-child(3),
.t-main tbody td:nth-child(3) {
  text-align: right;
}

.t-main tbody td {
  vertical-align: top;
}
