.metricItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 3.2rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: var(--copy-icon-black);
}

.metricItem:hover {
  background-color: #cccccc2a;
}

.metricItem:active {
  background-color: #cccccc45;
}

.title {
  font-weight: bold;
}

.border {
  border-bottom: 1px solid #ccc;
}
