.tableMinMaxFilter {
  margin-top: 5px;
  padding: 2px;
}

.title {
  color: rgba(0, 0, 0, 0.753);
  display: flex;
  justify-content: space-between;
}

.title span {
  font-size: 1.4rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 45%;
  height: 28px;
  padding: 4px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.753);
  -webkit-box-shadow: 2px 2px 5px 0px var(--shadow-soft);
  -moz-box-shadow: 2px 2px 5px 0px var(--shadow-soft);
  box-shadow: 2px 2px 5px 0px var(--shadow-soft);
  transition: 0.5s;
}

.input:focus {
  outline: none;
  box-shadow: 0 6px 18px var(--shadow-soft);
  transform: translateY(-1px);
}

.input:hover {
  box-shadow: 0 6px 18px var(--shadow-soft);
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.selectedOption {
  border: 1px solid rgba(0, 0, 0, 0.156);
}
