.container {
  padding: 20px;
  display: flex;
}

.leftSide {
  min-width: 400px;
}
.leftSide div {
  display: flex;
  justify-content: space-between;
}

.leftSide h4 {
  font-size: 2rem;
  font-weight: bold;
}

.leftSide p {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.rightSide {
  min-width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide img {
  position: relative;
}
