.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.377);
  border-radius: 4px;
  background-color: var(--company-color-4);
  color: var(--company-color-1);
  cursor: pointer;
  z-index: 2;
  position: relative;

  box-shadow: 1px 0px 5px 0px var(--shadow-bold);
  -webkit-box-shadow: 1px 0px 5px 0px var(--shadow-bold);
  -moz-box-shadow: 1px 0px 5px 0px var(--shadow-bold);
  transition: 0.2s;
}

.title {
  font-size: 1.5rem;
  transition: 0.5s;
}

.header .icon {
  transition: 0.5s;
  margin-right: 10px;
  font-size: 2rem;
}

.iconOpen {
  transform: rotate(90deg);
}

.inside {
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 4px;
}

.header:hover {
  background-color: var(--company-color-3);
}
