.toggleButtonsGroup {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.hideOpBEngineOff :global(.opBEngineOff) {
  fill: transparent;
}

.hideOpBEngineOffCoasting :global(.opBEngineOffCoasting) {
  fill: transparent;
}

.hideOpBEngineOnMoving :global(.opBEngineOnMoving) {
  fill: transparent;
}

.hideOpBEngineOnIdle :global(.opBEngineOnIdle) {
  fill: transparent;
}
