.tableSearch {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 200px;
  margin-right: 10px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 8px 8px 8px 32px; /* Espacio a la izquierda para el ícono */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 2px 5px 0px var(--shadow-soft);
  -moz-box-shadow: 2px 2px 5px 0px var(--shadow-soft);
  box-shadow: 2px 2px 5px 0px var(--shadow-soft);
  transition: 0.5s;
}

.input:not(:placeholder-shown) {
  box-shadow: 0 6px 18px var(--shadow-soft);
}

.input:focus {
  outline: none;
  box-shadow: 0 6px 18px var(--shadow-soft);
  transform: translateY(-1px);
}

.input:hover {
  box-shadow: 0 6px 18px var(--shadow-soft);
}
