.dataProp {
  border: none;
  background-color: transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.2rem;
  height: 40px;
}

.dataProp:hover {
  cursor: url("../../../../../public/svg/copy-black.svg"), auto;
  /* cursor: url("/public/svg/copy.svg"), auto; */
  text-decoration: underline;
}
