.dataProp {
  border: none;
  background-color: transparent;
  padding: 10px;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.2rem;
  height: 40px;
}

.dataProp:hover {
  cursor: var(--copy-icon-black);
  /* cursor: url("/public/svg/copy.svg"), auto; */
  text-decoration: underline;
}

.nd {
  font-size: inherit;
  color: var(--low-emphasis);
}
