.returnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 20px 30px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
  right: 18px;
}

.returnButton:hover {
  background-color: var(--company-color-4);
}

.returnButton svg {
  font-size: 2.5rem;
}
