.header {
  display: block;
  width: 100%;
  background-color: var(--company-color-6);
  color: white;
}
.navBar {
  width: 85%; /* Mantiene una anchura del 80%, alineada con el contenido principal de las pantallas */
  min-height: 10vh;
  margin: auto;
  background-color: red;
}
