/* Ordena los elementos de la izquierda a la derecha. */
.mainWrapper {
  display: flex;
  align-items: flex-start;
}

/* Renderizado del header y del contenido de la página */
.rightContent {
  width: 100%;
  z-index: 99999999999999;

  /* Evita que se desborde el contenido en la página */
  overflow-x: auto;
}
