.formContainer {
  height: 320px;
  width: 500px;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.authForm {
  min-height: 320px;
  width: 100%;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.inputsContainers {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bold;
  padding: 0 2rem;
}

.inputsContainers input {
  font-size: 2rem;
  border-radius: 0.35rem;
  padding: 0.3rem;
}

.errorMessageContainer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--warning-color-transparent-1);
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

.errorMessageContainer span {
  color: var(--button-color-3);
  font-weight: bold;
  font-size: 1.3rem;
}

.authForm button {
  padding: 1rem;
  margin: 0 2rem;
  width: calc(100% - 4rem);
  border-radius: 0.5rem;
  font-size: 2rem;
  border: none;
  font-weight: bold;
}

.mayusActivated {
  padding: 0 2rem;
  color: red;
  display: flex;
  align-items: center;
}

.mayusActivated span {
  margin-left: 5px;
  padding-top: 2px;
}
