.loginPage {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}

.formContainer {
  width: 500px;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  box-shadow: 0 2px 5px var(--shadow-min);
}

.authForm {
  min-height: 360px;
  width: 100%;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.inputsContainers {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bold;
  padding: 0 2rem;
}

.inputsContainers input {
  font-size: 2rem;
  border-radius: 0.35rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-width: 0;
  background-color: var(--company-color-1);
  padding: 1.2rem;
  box-shadow: rgba(138, 138, 241, 0.25) 0px 6px 60px -12px inset,
    var(--shadow-mid) 4px 4px 10px -4px inset;
}

.inputsContainers input:hover,
.inputsContainers input:focus {
  box-shadow: rgba(77, 77, 143, 0.25) 0px 6px 60px -12px inset,
    var(--shadow-mid) 4px 4px 10px -4px inset;
}

.inputsContainers input:focus,
.inputsContainers input:focus-visible {
  outline: 2px solid rgba(77, 77, 143, 0.25);
  outline-offset: 2px;
}

.errorMessageContainer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--danger-transparent);
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

.errorMessageContainer span {
  color: var(--danger);
  font-weight: bold;
  font-size: 1.3rem;
}

.authForm button {
  padding: 1rem;
  margin: 2rem;
  width: calc(100% - 4rem);
  border-radius: 0.5rem;
  font-size: 2rem;
  border: none;
  font-weight: bold;
}

.mayusActivated {
  padding: 0 2rem;
  color: red;
  display: flex;
  align-items: center;
}

.mayusActivated span {
  margin-left: 5px;
  padding-top: 2px;
}

button.buttonStyle {
  background-color: var(--company-color-4);
}

button.buttonStyle:hover {
  background-color: var(--company-color-4-dark);
}
