.container {
  margin-bottom: 20px;
}

.inside {
  display: flex;
  justify-content: space-between;
}

.infoSection {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 5px;
}

.buttonSection {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
