.inside {
  padding: 5px;
  margin: 10px;
}

.formTitle {
  font-size: 4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* .content {
} */
