.menuButton {
  align-items: center;
  background-color: white;
  color: var(--company-color-6);
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  width: 90%;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.menuButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.title {
  font-size: 2rem;
  padding-left: 20px;
  transition: 1s;
  width: 100%;
  text-align: left;
}
