* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*asegura que el ancho y alto incluyan padding y borde sin alterar el tamaño del contendor*/
  font-size: 62.5%; /*Define 1rem como 10px, facilitando el cálculo y conversión de tamaños en CSS.*/
}

/* Nota: Las variables para fuentes de letra están declaradas en src\globalConfig\fonts\fonts.ts *A/

/* Variables de colores de la empresa (theme) */
:root {
  --company-color-1: #e8f7ff;
  --company-color-2: #bdd5e1;
  --company-color-3: #8ed2ef;
  --company-color-4: #37718e;
  --company-color-5: #254e70;
  --company-color-6: #113154;
}

/* Variación de color obscura para hovers de colores de la empresa (theme) */
:root {
  --company-color-1-rgba-10: color-mix(
    in srgb,
    var(--company-color-1),
    black 10%
  );
  --company-color-2-rgba-10: color-mix(
    in srgb,
    var(--company-color-2),
    black 10%
  );
  --company-color-3-rgba-10: color-mix(
    in srgb,
    var(--company-color-3),
    black 10%
  );
  --company-color-4-rgba-10: color-mix(
    in srgb,
    var(--company-color-4),
    black 10%
  );
  --company-color-5-rgba-10: color-mix(
    in srgb,
    var(--company-color-5),
    black 10%
  );
  --company-color-6-rgba-10: color-mix(
    in srgb,
    var(--company-color-6),
    black 10%
  );
}

/* Variables de colores de botones */
:root {
  /* Acción principal, Envío, Confirmación, Inicio de sesión */
  --button-color-1: #007bff;
  /* éxito, confirmación, Aceptar, Guardar, Continuar  */
  --button-color-2: #198754;
  /* Advertencia, Eliminación, Cancelar, Salir */
  --button-color-3: #0000;
  /* Precaución, Advertencia, Atención, Reintentar, Acción riesgosa */
  --button-color-4: #0000;
  /* Llamado a la acción, Comprar ahora, Subscribirse, Empezar */
  --button-color-5: #0000;
  /* Neutralidad, deshabilitado, cancelado, omitir, poca relevancia */
  --button-color-6: #0000;
  /* Alternativo, elegante, acción premium */
  --button-color-7: #0000;
}

/* Variación de color obscura para hovers de botones */
:root {
  --button-color-1-rgba-10: color-mix(
    in srgb,
    var(--button-color-1),
    black 10%
  );
  --button-color-2-rgba-10: color-mix(
    in srgb,
    var(--button-color-2),
    black 10%
  );
  --button-color-3-rgba-10: color-mix(
    in srgb,
    var(--button-color-3),
    black 10%
  );
  --button-color-4-rgba-10: color-mix(
    in srgb,
    var(--button-color-4),
    black 10%
  );
  --button-color-5-rgba-10: color-mix(
    in srgb,
    var(--button-color-5),
    black 10%
  );
  --button-color-6-rgba-10: color-mix(
    in srgb,
    var(--button-color-6),
    black 10%
  );
  --button-color-7-rgba-10: color-mix(
    in srgb,
    var(--button-color-7),
    black 10%
  );
}

body {
  font-family: var(--font-nunito);
  font-weight: 400;
}
