.container {
  position: relative;
}

.button {
  margin-right: 10px;
  margin-bottom: 20px;
}

.filtersContent {
  position: absolute;
  top: 40px;
  left: 25px;
  width: auto;
  height: auto;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  z-index: 4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.473);
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.buttonCloseContainer {
  width: 100%;
  display: flex;
  justify-content: right;
}
