.container {
  position: relative;
}

.button {
  margin-right: 10px;
  margin-bottom: 20px;
}

.filtersContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 5;
}

.filtersContent {
  width: auto;
  height: auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.473);
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.noFilters {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
