.tableDataSummatory {
  width: 100%;
  display: flex;
  margin-top: -10px; /* medida en contraposicion al margen de la tabla */
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--company-color-1);
}

.summatory,
.average {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: left;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
  & p {
    font-weight: bold;
  }
}
