.headerButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.fuelNowContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.fuelDataReportContainer {
  width: 100%;
  min-width: 100%;
  margin-top: 10px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
