.menuContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.buttonStyle {
  width: 80%;
  margin-bottom: 20px;
}

.buttonTitle {
  font-size: 1.5rem;
}
