.cardssection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.telemetryObd {
  margin-bottom: 20px;
}

.resumeContainer {
  display: flex;
  justify-content: center;
}
