.menu {
  position: fixed;
  background-color: var(--company-color-6);
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 3;
}

.ghostMenuOpen {
  height: 100vh;
  transition: 1.1s;
  width: 250px;
  flex-shrink: 0;
}

.ghostMenuClosed {
  height: 100vh;
  transition: 0.9s;
  width: 80px;
  flex-shrink: 0;
}

.open {
  transition: 1s;
  width: 250px;
}

.close {
  transition: 1s;
  width: 80px;
}
