.container {
  position: relative;
}

.button {
  margin-right: 10px;
  margin-bottom: 20px;
}

.filtersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filtersContent {
  width: auto;
  height: auto;
  border-radius: 4px;
  background-color: white;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.noFiltersContainer {
  width: 300px;
  padding: 10px;
}

.closeButton {
  width: 100%;
  display: flex;
  justify-content: right;
}

.noFiltersTitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
