.tableSearch {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.input {
  padding: 8px 8px 8px 32px; /* Espacio a la izquierda para el ícono */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.input:focus {
  outline: none;
  -webkit-box-shadow: 2px 2px 5px 0px var(--company-color-5);
  -moz-box-shadow: 2px 2px 5px 0px var(--company-color-5);
  box-shadow: 2px 2px 5px 0px var(--company-color-5);
}

.input:hover {
  -webkit-box-shadow: 2px 2px 5px 0px var(--company-color-4);
  -moz-box-shadow: 2px 2px 5px 0px var(--company-color-4);
  box-shadow: 2px 2px 5px 0px var(--company-color-4);
}
